<div class="container animate-fade-in" style="max-width: 600px;">
  <div class="card">
    <h1 class="title" style="margin-top: 0; font-size: 2rem;">Nuevo Evento</h1>
    <p style="color: #a1a1aa; font-size: 0.95rem; margin-top: -1rem; margin-bottom: 2rem;">
      Ingresa los datos para registrar el evento de forma descentralizada.
    </p>

    <form [formGroup]="createEventForm" (ngSubmit)="submitCreateEvent()">
      <div style="margin-bottom: 1.5rem;">
        <label>Nombre del Evento</label>
        <input formControlName="name" type="text" placeholder="Ej. Creamfields Argentina 2026" />
        @if (createEventForm.get('name')?.invalid && createEventForm.get('name')?.touched) {
          <span style="color: #f87171; font-size: 0.8rem; display: block; margin-top: -0.75rem; margin-bottom: 0.5rem;">
            El nombre es obligatorio y debe tener al menos 3 caracteres.
          </span>
        }
      </div>

      <div style="margin-bottom: 2rem;">
        <label>Descripción</label>
        <textarea formControlName="description" rows="5" placeholder="Brinda detalles del show, grilla de artistas, dresscode y accesos..."></textarea>
        @if (createEventForm.get('description')?.invalid && createEventForm.get('description')?.touched) {
          <span style="color: #f87171; font-size: 0.8rem; display: block; margin-top: -0.75rem; margin-bottom: 0.5rem;">
            La descripción es obligatoria y debe tener al menos 10 caracteres.
          </span>
        }
      </div>

      <div style="display: flex; gap: 1rem;">
        <button type="button" class="button-secondary" style="flex: 1;" (click)="createEventForm.reset()">
          Limpiar
        </button>
        <button type="submit" class="button-primary" style="flex: 2;" [disabled]="createEventForm.invalid">
          Publicar Evento
        </button>
      </div>
    </form>
  </div>
</div>
